# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
go-otel-wide-event

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local environment
.env
.env.local

# Jaeger
jaeger-ui.json/
